<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspTestPractice</display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>www.appstek.com</taglib-uri>
      <taglib-location>/WEB-INF/MtTld.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>Emp.html</welcome-file>
    <welcome-file>Details.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JavaScriptDemo</servlet-name>
    <jsp-file>/JavaScriptDemo.jsp</jsp-file>
    <init-param>
      <param-name>dname</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaScriptDemo</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>el1</servlet-name>
    <jsp-file>/ELex1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>el1</servlet-name>
    <url-pattern>/expl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>el2</servlet-name>
    <jsp-file>/ELex2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>el2</servlet-name>
    <url-pattern>/expl2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setter</servlet-name>
    <jsp-file>/BeanSet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>setter</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getter</servlet-name>
    <jsp-file>/BeanGet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>getter</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Details</servlet-name>
    <jsp-file>/Details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student</servlet-name>
    <jsp-file>/Student.jsp</jsp-file>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>sairam</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>sairam</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
</web-app>